<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.system.mapper.SysModelMapper">

    <resultMap type="SysModel" id="SysModelResult">
        <id     property="id"         column="id"        />
        <result property="source"       column="source"      />
        <result property="createBy"       column="create_by"      />
        <result property="createTime"     column="create_time"    />
        <result property="updateTime"     column="update_time"    />
        <result property="updateBy"       column="update_by"      />
        <result property="menuId"       column="menu_id"      />
    </resultMap>

    <sql id="selectModelVo">
        select *
        from sys_model
    </sql>

    <select id="selectModelList" parameterType="SysModel" resultMap="SysModelResult">
        <include refid="selectModelVo"/>
    </select>

    <update id="updateModel" parameterType="SysModel">
        update sys_model
        <set>
            <if test="updateBy != null and updateBy != ''">update_by = #{updateBy},</if>
            <if test="source !=null and source != ''">source = #{source},</if>
            update_time = sysdate()
        </set>
        where id = #{id}
    </update>

    <select id="selectModelById" parameterType="Long" resultMap="SysModelResult">
        SELECT m.*, d.menu_id
        FROM sys_model m
                 JOIN sys_menu d ON m.id = d.model_id
        WHERE m.id = #{id};
    </select>

    <insert id="insertModel" parameterType="SysModel" useGeneratedKeys="true" keyProperty="id">
        insert into sys_model (
        <if test="source != null and source != ''">source,</if>
        <if test="createBy != null and createBy != ''">create_by,</if>
        create_time
        ) values (
        <if test="source != null and source != ''">#{source},</if>
        <if test="createBy != null and createBy != ''">#{createBy},</if>
        sysDate()
        )
    </insert>

</mapper>